.title {
  font-size: 36px;
  line-height: 42px;
  font-weight: 700;
  margin-bottom: 32px;
}

.content {
  flex: 1;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.list {
  display: flex;
  flex-direction: column;
}

.item {
  border: 1px solid #dcdcdc;
  padding: 12px 24px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &:not(:last-child) {
    border-bottom-width: 0px;
  }

  div {
    margin-right: 16px;
  }
}