* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  padding: 16px 0;
  border-bottom: 1px solid #dcdcdc;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 600;

  .logoImage {
    width: 55px;
    height: auto;
  }
}


.nav {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  div:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 60px;
  }
}

.list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
}

.btn {
  background: #E32636;
  padding: 12px 24px;
  border-radius: 8px;
  color: #fff;
  transition: 0.2s ease;

  &:hover {
    background: rgba(#E32636, 0.8);
  }
}